* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3a20003a;
  color: #3A2000;
  padding: 1rem;
  text-align: center;
}

main {
  margin: 2rem;
}

.contact {
  background-color: #f5f5f5;
  padding: 3rem 0;
  color: ;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.col {
  flex-basis: 45%;
  color: #3A2000;
}

.col h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #3A2000;
}

.btn {
  display: inline-block;
  background-color: #3A2000;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #3a20003a;
  color: #3A2000;
}

address {
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.social-links li a {
  color: #333;
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  transition: background-color 0.3s ease-in-out;
}

.social-links li a:hover {
  background-color: #f5f5f5;
  border-radius: 50%;
}
.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px ;
    padding-right: 60px;
  }
  
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons a {
    color: #3A2000;
  }
  
  .social-icons a:hover {
    color: #000;
  }
  
  .social-icons i {
    font-size: 24px;
  }